* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  position: relative;
  background: black;
}

body .page {
  inset: 0;
  margin: auto;
  max-width: 1000px;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "head head"
    "main aside"
    "foot foot";
  grid-template-rows: 20px 1fr 30px;
  grid-template-columns: 60% 40%;
  background: black;
}

.page header {
  grid-area: head;
  width: 100%;
  background: black;
}

.page main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: white;
  overflow: hidden;
  background: rgb(248, 248, 241);
  z-index: 1;
  box-shadow: 0 0 10px 2px rgb(0 0 0 / 0.2);
}

main .logo {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 55vh;
  top: 5%;
}

main .logo img {
  position: absolute;
  display: block;
  width: auto;
  height: 55%;
  z-index: -1;
}

.scalated-border {
  transform: scale(1.05);
  filter: blur(3px) opacity(95%) saturate(1500%);
}

main .logo div {
  position: absolute;
  width: max-content;
  z-index: 1;
}

main .logo h2 {
  font-size: 3vh;
  color: rgba(48, 0, 40, 0.777);
  z-index: 1;
}

main .logo h1 {
  width: max-content;
  font-size: 6vh;
  font-weight: 490;
  z-index: 1;
}

.neonText {
  --color: rgb(255, 0, 212);
  color: #ffffff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px var(--color),
      0 0 82px var(--color),
      0 0 92px var(--color),
      0 0 102px var(--color),
      0 0 151px var(--color);
}

main .background {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(35%) scaleY(0.7);
  z-index: 0;
}

.page aside {
  grid-area: aside;
  display: flex;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#caddfd, rgb(247, 217, 251));
}

aside .background {
  position: absolute;
  width: auto;
  height: 110vh;
  transform: translate(-25%, -10%);
}

.masked-image {
  mask-image: url('images/female-hand.webp');
  mask-position: 70% 20%;
  mask-size: 65%;
}

@property --width {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 40%;
}

aside .animated img {
  position: absolute;
  border-radius: 3px;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 0);
  opacity: 65%;
  top: 100%;
  animation: elevate linear infinite;
  transition: 
    all 500ms ease-in;
}


@keyframes elevate {
  to {
    transform: translateX(-50%) translateY(-150vh);
  }
}

aside .animated img:hover {
  width: 60% !important;
  opacity: 1;
  filter: blur(0px) !important;
  transform: translate(-50%, 0%);
}



.page footer {
  grid-area: foot;
  width: 100%;
  z-index: 1;
  background: black;
}
